{# attching library #}
{{ attach_library('hwjma_mrct/mostreadcitedtopics') }}
<div id="mostreadcited">
  <ul>
    {% for  row in mostreadcited %}
      <li><h5 class="article-section__heading"><a href="{{row.link}}">{{ row.title }}</a></h5></li>
      <p class="article-section__author-sub">
        {{ row.authors_full_name }}
      </p>
      <p class="article-section__author-description">
        {{row.journal_title}} {{row.date_epub}} {{row.volume}}({{row.issue}}): {{ row.fpage }}-{{ row.lpage }}; DOI: https://doi.org/{{ row.doi}}
      </p>
      <a href="{{row.link}}" class="article-section__view-article-btn">
        View Article
      </a>
      <a href="{{row.pdf_download}}" target="pdfframe" class="article-section__view-article-btn">
         <i class="bi bi-download"></i> Download PDF
      </a>
      <hr>
    {% endfor %}
</ul>
  <div class="text-center altmetrics-pager">{{ pager }}</a> </div> 
</div>

