{{ node.title.value }}
{{ node.body.value | raw}}

{% for item in node.field_contributors %}
    <div class="highwire-cite-authors">
        <div class="item-list">
            <ul class="highwire-comment-authors">
                <li class="first">
                    <a href="mailto:"{{ item.entity.field_email_address.value}} class="" data-icon-position="" data-hide-link-title="0">
                    <span class="given-names">{{ item.entity.field_first_name_and_middle_init.value}}</span> 
                    <span class="surname">{{ item.entity.field_last_name.value}}</span> [<span class="degrees">{{ item.entity.field_degrees.value}}</span>]</a>
                    <span class="highwire-citation-author" data-delta="0">, <span class="role">{{ item.entity.field_occupation.value}}</span>, 
                    <span class="aff">{{ item.entity.field_affiliation.value}}</span>
                    </span>
                </li>
                <li class="last">Other Contributors:<div class="item-list">
                    <ul>
                    <li class="first last">
                        <span class="highwire-citation-author" data-delta="1">
                        <span class="given-names">Scott</span> 
                        <span class="surname">MacDonald</span>, 
                        <span class="role">Medical Doctor</span>
                        </span>
                    </li>
                    </ul>
        </div>
    </li>
    </ul></div></div>
{% endfor %}

